.simulationLab {
    margin-top: 3rem;
    padding: 2rem;
}

.simulationLabTitle {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}

.simulationLabSubtitle {
    font-size: 1.2rem;
    text-align: left; 
    margin-top: 0rem;
}

.overviewCard {
    background-color: rgba(230, 157, 157, 0.466);
    border-radius: 10px;
    border-left: 4px red solid;
    margin-top: 1rem;
}

.overviewCardTitle {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
}

.overviewCardText {
    font-size: 0.95rem;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: rgb(59, 59, 59);
    white-space: pre-line;
    list-style: none;
}

.simulationLabCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;
}

.insightsTitle {
    font-size: 1.5rem;
    text-align: left;
}

.blueSimCard {
    background-color: #0896a5;
}

.greenSimCard {
    background-color: #22972a;
}

.orangeSimCard {
    background-color: #f18e04;
}