.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    background: white;
    width: 100%;
    box-sizing: border-box;
    margin-top: 3rem;
}

.hero section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.preHeroText {
    background-color: pink;
    color: red;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0.25rem 0.75rem;
    display: inline-block;
    max-width: fit-content;

}

.heroTitle {
   font-size: 4rem;
   margin-bottom: 1rem; 
   line-height: 1.2;
   font-weight: bold;
   text-align: left;
   margin-top: 1rem;
}

.heroSubtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    max-width: 600px;
    text-align: left;    
}

.ctaButton {
    background-color: red;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 9px;
    font-weight: bold;
}

.criteria {
    list-style: none;
    padding: 0;
    margin-top: 0.25rem;
    display: flex;
    gap: 2rem; 
}

.criteria li {
    flex: 1;
}

.criteriaTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
    color: black;
}

.criteriaSubtitle {
    font-size: 0.9rem;
    text-align: left;
    line-height: normal;
}

.heroImage {
    flex: 1;
}

.heroImage img {
    border-radius: 10px;
    object-fit: cover;
    max-width: 500px;
}

.bannerTitle {
    font-weight: bold;
    font-size: 2rem;
}

.contextSection {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem;
    background: white;
}

.contextContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
}

.contextTitle {
   font-size: 1.8rem;
   font-weight: bold;
   margin-bottom: 1rem;
}

.contextText {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 600px;
    text-align: left;
}

.contextCriteria {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 0.3rem;
}

.contextCriteriaContainer {
    flex: 1;
    align-items: left;
    margin-top: 0.1rem;

}

.contextCriteriaTitle {
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;
    color: black;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

.contextCriteriaSubtitle {
    font-size: 0.9rem;
    text-align: left;
    line-height: normal;
}

.contextImage {
    flex: 2;
}

.contextImage img {
    border-radius: 10px;
    width: 100%;
}

.ctaFooter {
    background-color: red;
    text-align: center;
    padding: 1.5rem;
}

.ctaFooterTitle {
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

.ctaFooterText {
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.ctaFooterButton {
    background-color: white;
    color: red;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 9px;
    font-weight: bold;
}

.footer {
    background-color: black;
    min-height: 3rem;
}

.footerText {
    color: white;
    font-size: 0.9rem;
    text-align: right;
    padding: 1rem;
}

.featureSection {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    background: white;
}

.blueCard {
    background-color: #b6e8ee30;
    box-shadow: #aadbe1 0px 4px 8px -2px;
    background: linear-gradient(to bottom right, #b6e8ee9e, #b6e8ee41);
}

.blueCard li::marker {
color: #1394a2;
}

.greenCard {
    background-color: #ceefd05f;
    box-shadow: #c7f1c9 0px 4px 8px -2px;
    background: linear-gradient(to bottom right, #ceefd09e, #ceefd041);
}

.greenCard li::marker {
color: #36ad3e;
}

.orangeCard {
    background-color: #f1ddbb4c;
    box-shadow: #f1ddbb 0px 4px 8px -2px;
    background: linear-gradient(to bottom right, #f1ddbb9e, #f1ddbb22);
}

.orangeCard li::marker {
    color: #ff9800;
}